<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="/public/CSS/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/work">Work</a>
    </nav>
    <h1>Who is Bad Bunny?</h1>
    <h2>
      The Puerto Rican rapper who is conquering the world with his music and
      much more...
    </h2>
    <div>
      <p>
        Benito Antonio Martínez Ocasio, professionally known as Bad Bunny, is a
        highly accomplished Puerto Rican rapper, singer, songwriter, record
        producer, and occasional professional wrestler. Renowned for his
        contributions to the Latin trap and reggaeton genres, Bad Bunny's
        musical style showcases a unique fusion of diverse elements from various
        genres. With a distinctive serious intonation and a bold sense of
        fashion, he emerged onto the music scene in 2016 with his captivating
        track "Diles," paving the way for a fruitful collaboration with Hear
        This Music.
      </p>
      <img src="" alt="" />
      <p>
        Bad Bunny has demonstrated a strong commitment to social issues and
        humanitarian causes throughout his career. In the aftermath of Hurricane
        Maria, which devastated Puerto Rico, he openly criticized the inadequate
        provision of humanitarian aid. In response, he took action by
        establishing the Good Bunny Foundation, an organization dedicated to
        providing toys to children in poverty-stricken areas of Puerto Rico. In
        recognition of his philanthropic efforts, Bad Bunny received a
        nomination for the "Humanitarian Award of the Year" at Telemundo's
        inaugural Premios Tu Música Urbano in 2019. This acknowledgment
        underscored his dedication to making a positive impact on the lives of
        others. On July 22, 2019, Bad Bunny joined forces with fellow artists,
        including Residente and Ricky Martin, as well as over half a million
        Puerto Ricans, in a massive protest against government corruption.
        Taking to the streets and effectively shutting down the Las Américas
        Expressway, also known as the Luis A. Ferré Highway, they demanded the
        resignation of then-Governor Ricardo Rosselló. This display of unity and
        activism exemplified Bad Bunny's commitment to fostering positive change
        and holding those in power accountable. While Bad Bunny has been vocal
        on various social issues, he has not explicitly taken a position
        regarding the Puerto Rican statehood movement. However, he expressed
        that he would prefer not to see Puerto Rico become the 51st state. It is
        important to note that this does not imply advocacy for the Independence
        movement in Puerto Rico either. Bad Bunny's stance on this matter
        remains nuanced, reflecting his desire for Puerto Rico's future to be
        considered thoughtfully and with clarity. In July 2018, Bad Bunny found
        himself embroiled in controversy when he criticized a nail salon in
        Asturias, Spain, for refusing to serve him based on his gender.
        Unfortunately, this sparked homophobic comments and speculation about
        his own sexuality from some fans. In response, Bad Bunny defiantly
        addressed the hateful comments, offering a provocative and sarcastic
        response. However, he later recognized the need to address the situation
        more responsibly and issued an apology, ultimately deleting his own
        Twitter account. Furthermore, Bad Bunny has used his platform to
        confront instances of homophobia and transphobia. In January 2019, he
        publicly criticized a homophobic tweet made by reggaeton artist Don
        Omar. During a performance on The Tonight Show Starring Jimmy Fallon in
        February 2020, Bad Bunny drew attention to the tragic murder of
        transgender woman Alexa Negrón Luciano in Puerto Rico. Wearing a shirt
        that boldly stated "They Killed Alexa. Not a Man in a Skirt," he aimed
        to challenge the misgendering and discrimination faced by transgender
        individuals. Ricky Martin has praised Bad Bunny as an icon for the Latin
        queer community due to his unwavering support for LGBTQ+ individuals, as
        well as his embrace of drag culture. Bad Bunny's outspokenness and
        willingness to address social issues have positioned him as a voice for
        change and inclusivity within the Latin music industry. His advocacy
        serves as an inspiration to many, as he continues to use his influence
        to shed light on important matters and promote acceptance and equality.
      </p>
    </div>
  </body>
</html>
