<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/CSS/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/work">Work</a>
    </nav>
    <h1>Bad Bunny Fan Page</h1>
    <section>
      <h3>Latest news</h3>
      <a href="https://www.billboard.com/music/chart-beat/bad-bunny-where-she-goes-number-one-global-200-chart-1235342428/" target="_blank">
        Bad Bunny’s ‘Where She Goes’ Blasts In at No. 1 on Billboard Global 200 Chart
      </a>
      <img src="/public/images/Where-She-Goes.jpg" alt="Bad Bunny new single WHERE SHE GOES">
      <br><br>
      <a href="https://www.revolt.tv/article/2023-05-30/305309/travis-scott-bad-bunny-utopia-teaser/" target="_blank">
        Travis Scott teases Bad Bunny collaboration ahead of 'Utopia' release
      </a>
      <img src="/public/images/badBunny&travisScott.jpeg" alt="Bad Bunny & Travis Scott">
      <br><br>
      <a href="https://www.pinkvilla.com/entertainment/hollywood/are-kendall-jenner-and-bad-bunny-taking-their-relationship-to-next-level-with-the-kardashians-approval-1223406" target="_blank">
        Are Kendall Jenner and Bad Bunny taking their relationship to next level with the Kardashians' approval?
      </a>
      <img src="/public/images/BadBunny&KylieJenner.jpeg" alt="Bad Bunny and Kendall Jenner">
      <br><br>
    </section>
  </body>
</html>
