<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Page</title>
    <link rel="stylesheet" href="/CSS/work.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/work">Work</a>
    </nav>
    <h1 class="title">Bad Bunny Discography</h1>
    <p class="sub-title">
        Albums:
      <ul class="list">
        <li>
          X 100pre (2018)
          </li>
          <li>
            Oasis (with J Balvin) (2019)
          </li>
          <li>
            YHLQMDLG (2020)
          </li>
          <li>
            Las que no iban a salir (2020)
          </li>
          <li>
            El Último Tour Del Mundo (2020)
          </li>
          <li>
            Un Verano Sin Ti (2022)
          </li>
        </ul>
        <p class="sub-title"> 
            Songs (across various albums and singles):
        </p>
        <ul class="list">
          <li>
            "Soy Peor" (2017)
            
          </li>
          <li>
            "Amorfoda" (2018)
          </li>
          <li>
            "Estamos Bien" (2018)
          </li>
          <li>
            "Mía" (featuring Drake) (2018)
          </li>
          <li>
            "Caro" (2018)
          </li>
          <li>
            "Callaíta" (with Tainy) (2019)
          </li>
          <li>
            "La Canción" (with J Balvin) (2019)
          </li>
          <li>
            "Vete" (2019)
          </li>
          <li>
            "Si Veo a Tu Mamá" (2020)
          </li>
          <li>
            "La Difícil" (2020)
          </li>
          <li>
            "Pero Ya No" (2020)
          </li>
          <li>
            "Yo Perreo Sola" (2020)
          </li>
          <li>
            "Ignorantes" (with Sech) (2020)
          </li>
          <li>
            "Bye Me Fui" (with Jhay Cortez) (2020)
          </li>
          <li>
            "Dákiti" (with Jhay Cortez) (2020)
          </li>
          <li>
            "Hoy Cobré" (with Myke Towers) (2021)
          </li>
          <li>
            "Yonaguni" (2021)</p>
          </li>
        </ul>
  </body>
  <footer>
    Reserved Copyrights © Lucas & Juan
  </footer>
</html>
