body {
    background-color: bisque;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #5d4f9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
nav a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 18px;
    text-align: justify;
    padding: 20px 20px;
}